:root {

  --main-color: #ffffff80;

  --main-color-darker: #FAE96F;

  --secondary-color: #525252;

  --secondary-color-lighter: #e7b500;

  --accent: #7f887c;
}

* {
  text-align: center;
  box-sizing: border-box;
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.main-sect {
  margin: auto;
  text-align: center;
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80vw;
  justify-content: center;
}

.item-sect {
  font-weight: 600;
  padding: 7px;
  margin: 20px;
  text-align: center;
  border: 3px solid #FAE96F;
  border-radius: 10px;
}

.price {
  background-color: #FAE96F;
}

.namedrink-sect {
  margin-bottom: 5px;
}